@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Patientenmanager 2023</title>
</head>
<body>
    <div class="row">

        <div class="columnA">
            <h2>Patientenaufnahme</h2>

            <p>Dies ist das Formular für Angestelle zur Aufnahme von Patienten. Es erfolgte eine automatische Generierung der Patientennummer und es kann zusätzlich ausgewählt werden, ob es sich um einen Notfall handelt.</p>

        </div>

        <div class="columnB">
            <h2>Patienteneinsicht</h2>

            <p>Die ist die Seite für Ärzte. Es wird stets der gerade zu behandelnde Patient angezeigt. Nach der Behandlung wird der nächste Patient in der Warteschlange aufgerufen.</p>

        </div>
    </div>
    </body>
</html>