@model Wartezimmer_App.Models.Patient

@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Patienteneinsicht</title>
</head>
<body>
    <h2>Derzeitiger Patient</h2>
    <table class=" table table-bordered ">
        <thread>
            <tr><th>Patientennummer</th><th>Anrede</th><th>Name</th><th>Nachname</th><th>Notfall</th></tr>
        </thread>
        <tbody>            
                <tr>
                    <td>@Model.PNr</td>
                    <td>@Model.Anrede</td>
                    <td>@Model.Name</td>
                    <td>@Model.Nachname</td>
                    <td>@if (Model.Notfall)
                    {
                        <span>Notfall!</span>
                    }
                    else {<span></span>}</td>
                </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" asp-action="PatientenEinsicht">Nächster Patient</a>
    <a class="btn btn-primary" asp-action="Index">Home</a>
</body>
</html>